{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}"rel="stylesheet" type="text/css"/>
    <title>Crear</title>
  </head>
  <body>
      <div class="contenedor">
        <div class="cabecera">

          <div class="top">
              Nuevo cliente
          </div>
        </div>
        <div class="formu">
          <form id="form-guardar" method="get">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre completo</label>
              <input name="nombre" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Nombre completo">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Numero de documento</label>
              <input name="DNI" type="text" class="form-control"  placeholder="Numero de documento">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Fecha de nacimiento</label>
              <input name="fechaN" type="date" class="form-control"  placeholder="yyyy/mm/dd">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Email</label>
              <input name="email" type="email" class="form-control"  placeholder="Email">
            </div>
            <button onclick="location.href='{% url 'listar_usuarios' %}'"  type="button" class="btn btn-danger">Cancelar</button>
            <button  type="input" class="btn btn-primary" onclick="guardarCliente()">Guardar</button>
          </form>
        </div>
        

      </div>
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
      
      function guardarCliente(){
          var form = new FormData(document.getElementById("form-guardar"));
          console.log(form.get('email'))
            $.ajax({
              data: {
                      "pk":form.pk,
                      "name":form.get('nombre'),
                      "DNI":form.get('DNI'),
                      "birth":form.get('fechaN'),
                      "email":form.get('email')
                    },
              url: '/guardarView/',
              type: 'get',
              success: function(){
                alert("Cliente registrado");
              },
              error: function(error){
                console.log(error);
              }
            });
          
      }
    </script>
  </body>
</html>